################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HelloWorld/.vs/HelloWorld/v16
/HelloWorld/bin/Debug/netcoreapp3.1
/HelloWorld/obj
/.vs
